body {
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    background-image: url(../images/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.contaner {
    margin-top: 50px;
    width: 1028px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 0 10px;
}

.logo-orange {
    display: none;
}

.logo-name {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-name-top {
    font-size: 29px;
}

.logo-name-bottom {
    font-size: 18px;
}

.logo:hover .logo-name {
    color: #F26522;
}

.logo:hover .logo-white {
    display: none;
}

.logo:hover .logo-orange {
    display: block;
}

.header-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-link {
    text-align: right;
    color: #FFF;
    font-size: 18px;
}

.contact-link:hover {
    color: #F26522;
}

.main {
    margin-top: 20px;
}

.cards-wrapper {
    width: 1028px;
    display: flex;
    flex-wrap: wrap;
    gap: 37px 62px;
}

.holiday-card {
    width: 300px;
    cursor: pointer;
}

.card-info {
    position: relative;
}

.card-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    box-sizing: border-box;
    color: #FFF;
}

.card-title {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
}

.holiday-card:hover .card-title {
    color: #F26522;
}