.container{
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    background-image: url(../images/header-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
}

.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo-title {
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
}

.header-menu-list {
    display: flex;
    padding: 26px 0;
    gap: 35px;
}

.header-menu-item {
    font-size: 15px;
    font-weight: 600;
}

.header-menu-link {
    color: #FFF;
}

.header-menu-item:hover > .header-menu-link {
    color: #14B9D5;
}

.header-search-btn {
    width: 70px;
    border: none;
    background-color: #000;
    background-image: url(../images/search-icon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.header-title {
    margin-top: 160px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #FFF;
}

.header-btn-wrapper {
    margin-top: 44px;
    padding-bottom: 74px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-btn {
    padding: 16px 0;
    width: 170px;
    color: #FFF;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.header-btn:hover {
    scale: 1.1;
    transition: 0.3s;
}

.header-green-btn  {
    background-color: #89CA62;
}

.header-blue-btn {
    background-color: #14B9D5;
}

.popular-posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
}

.popular-posts-title {
    padding-top: 49px;
    color: #18B4CF;
}

.posts-wrapper {
    margin: 52px auto 72px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 900px;
    gap: 20px;
}

.popular-post-card {
    background-color: #FFF;
}

.popular-post-content {
    padding: 22px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
}