.container{
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

.header {
    background-image: url(../images/header-background.png);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
}

.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo-title {
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
}

.header-menu-list {
    display: flex;
    padding: 26px 0;
    gap: 35px;
}

.header-menu-item {
    font-size: 15px;
    font-weight: 600;
}

.header-menu-link {
    color: #FFF;
}

.header-menu-item:hover > .header-menu-link {
    color: #14B9D5;
}

.header-search-btn {
    width: 70px;
    border: none;
    background-color: #000;
    background-image: url(../images/search-icon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.header-title {
    margin-top: 160px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #FFF;
}